.frameChild {
  height: 163px;
  width: 126px;
  position: absolute;
  margin: 0 !important;
  bottom: 313px;
  left: 39px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  border: 1px solid #0095f6;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}
.frameParent,
.image30Icon {
  position: relative;
  max-width: 100%;
}
.image30Icon {
  height: 864px;
  flex: 1;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.image20Icon,
.openFile {
  position: relative;
  overflow: hidden;
}
.openFile {
  width: 112px;
  height: 30px;
  flex-shrink: 0;
  display: none;
}
.image20Icon {
  align-self: stretch;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.gallery,
.galleryPage {
  background-color: var(--wwwmyntracom-nero);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.gallery {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.galleryPage {
  width: 100%;
  position: relative;
  overflow-y: auto;
  flex-direction: row;
  padding: 0 0 135px;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
}
