.link5564ed6e4acfbaa6d9d89f1 {
  height: 872px;
  width: 977px;
  margin: 0 !important;
  position: absolute;
  top: -127.4px;
  right: -247.8px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.background1 {
  width: 6px;
  height: 6px;
  position: relative;
  border-radius: var(--br-10xs);
  background-color: var(--wwwmyntracom-nero);
}
.margin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
  z-index: 1;
}
.background2 {
  width: 6px;
  height: 6px;
  position: relative;
  border-radius: var(--br-10xs);
  background-color: var(--color-gray-200);
}
.margin1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
  z-index: 1;
}
.background3 {
  width: 6px;
  height: 6px;
  position: relative;
  border-radius: var(--br-10xs);
  background-color: var(--color-gray-200);
}
.margin2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
  z-index: 1;
}
.background4 {
  width: 6px;
  height: 6px;
  position: relative;
  border-radius: var(--br-10xs);
  background-color: var(--color-gray-200);
}
.margin3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
  z-index: 1;
}
.background5 {
  width: 6px;
  height: 6px;
  position: relative;
  border-radius: var(--br-10xs);
  background-color: var(--color-gray-200);
}
.margin4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
  z-index: 1;
}
.background6 {
  width: 6px;
  height: 6px;
  position: relative;
  border-radius: var(--br-10xs);
  background-color: var(--color-gray-200);
}
.margin5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
  z-index: 1;
}
.background7 {
  width: 6px;
  height: 6px;
  position: relative;
  border-radius: var(--br-10xs);
  background-color: var(--color-gray-200);
}
.margin6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
  z-index: 1;
}
.background8 {
  width: 6px;
  height: 6px;
  position: relative;
  border-radius: var(--br-10xs);
  background-color: var(--color-gray-200);
}
.margin7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
  z-index: 1;
}
.background9 {
  width: 6px;
  height: 6px;
  position: relative;
  border-radius: var(--br-10xs);
  background-color: var(--color-gray-200);
}
.margin8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
  z-index: 1;
}
.background10 {
  height: 6px;
  width: 6px;
  position: relative;
  border-radius: var(--br-10xs);
  background-color: var(--color-gray-200);
  z-index: 1;
}
.background,
.container6 {
  display: flex;
  flex-direction: row;
}
.container6 {
  flex: 1;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-xl);
  box-sizing: border-box;
  position: relative;
  min-height: 618px;
  max-width: 100%;
  row-gap: 20px;
}
.background {
  position: absolute;
  top: 0;
  left: 71.7px;
  background-color: var(--wwwmyntracom-black);
  width: 618px;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 618px;
  min-height: 450px;
  max-height: 618px;
}
.back {
  text-decoration: none;
  flex: 1;
  position: relative;
  line-height: 25px;
  color: inherit;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.backWrapper {
  position: absolute;
  top: 358.1px;
  left: 0;
  background-color: var(--wwwmyntracom-nero);
  width: 163px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-xs) var(--padding-6xl)
    var(--padding-mini);
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
  z-index: 2;
}
.contentBackground {
  height: 618px;
  width: 689.7px;
  position: relative;
  min-width: 689.7px;
  max-width: 100%;
}
.imageIcon,
.njpgIcon {
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.imageIcon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: -5px;
  left: -5px;
}
.njpgIcon {
  width: 32px;
  height: 32px;
  position: relative;
}
.border {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  border: 1px solid var(--wwwinstagramcom-black-98);
  box-sizing: border-box;
  z-index: 1;
}
.button,
.container9,
.link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.link {
  width: 32px;
  height: 32px;
  border-radius: var(--br-base);
  background-color: var(--wwwinstagramcom-wild-sand);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.button,
.container9 {
  justify-content: flex-start;
}
.button {
  padding: 0;
  position: relative;
}
.container9 {
  padding: 0 var(--padding-lg) 0 0;
}
.excitedForThe {
  height: 38px;
  flex: 1;
  position: relative;
  line-height: 18px;
  display: flex;
  align-items: center;
  min-width: 146px;
  max-width: 100%;
}
.buttonItem,
.container8 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.container8 {
  flex-direction: row;
  padding: 0 var(--padding-54xl) 0 0;
  row-gap: 20px;
}
.buttonItem {
  flex-direction: column;
  padding: var(--padding-8xs) var(--padding-base) var(--padding-base) 0;
  flex-shrink: 0;
}
.imageIcon1,
.njpgIcon1 {
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.imageIcon1 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 21px);
  left: calc(50% - 21px);
}
.njpgIcon1 {
  width: 32px;
  height: 32px;
  position: relative;
}
.border1 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  border: 1px solid var(--wwwinstagramcom-black-98);
  box-sizing: border-box;
  z-index: 1;
}
.button1,
.link1 {
  display: flex;
  align-items: flex-start;
}
.link1 {
  height: 32px;
  width: 32px;
  border-radius: var(--br-base);
  background-color: var(--wwwinstagramcom-wild-sand);
  flex-direction: column;
  justify-content: center;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.button1 {
  flex-direction: row;
  justify-content: flex-start;
}
.wszkekel {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 18px;
  font-weight: 600;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.container11,
.container12,
.link2 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link2 {
  border-radius: var(--br-11xs);
  flex-direction: row;
  padding: var(--padding-12xs-3) 0 var(--padding-12xs-4);
}
.container11,
.container12 {
  flex-direction: column;
}
.heading3,
.isabelaAndBlake {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.heading3 {
  height: 18.7px;
  width: 61px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.isabelaAndBlake {
  height: 18px;
  flex: 1;
  position: relative;
  font-size: var(--wwwinstagramcom-roboto-semibold-1378-size);
  line-height: 18px;
  color: var(--wwwmyntracom-black);
  text-align: left;
  min-width: 126px;
  z-index: 1;
  margin-left: -1.1px;
}
.heading3Parent,
.time16h {
  align-self: stretch;
  display: flex;
}
.heading3Parent {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 20px;
}
.time16h {
  flex: 1;
  position: relative;
  line-height: 16px;
  color: inherit;
  align-items: center;
  text-decoration: none;
}
.link3 {
  height: 16px;
  width: 32px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 0 0;
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
}
.button11,
.buttonReply {
  height: 16px;
  width: 27px;
  position: relative;
  font-size: var(--wwwinstagramcom-roboto-semibold-1125-size);
  line-height: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonReply {
  width: 30px;
  font-size: var(--wwwmyntracom-assistant-bold-12-size);
}
.container13 {
  width: 100%;
  flex-direction: row;
  max-width: 254.1px;
  row-gap: 20px;
  font-size: var(--wwwinstagramcom-roboto-regular-1181-size);
  color: var(--wwwinstagramcom-dove-gray);
}
.buttonParent,
.container13,
.frameParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs-1);
}
.buttonParent {
  width: 304.3px;
  flex-direction: row;
  gap: var(--gap-lg);
  flex-shrink: 0;
}
.imgLike {
  width: 12px;
  height: 12px;
  position: relative;
}
.button2,
.container15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.button2 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container10,
.containerWrapper,
.margin9 {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.margin9 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.container10,
.containerWrapper {
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.container10 {
  height: 43px;
  flex: 1;
  justify-content: space-between;
  padding: 0 0 var(--padding-10xs-1);
  gap: var(--gap-xl);
}
.containerWrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xs);
  font-size: var(--wwwinstagramcom-roboto-semibold-1356-size);
}
.imageIcon2,
.njpgIcon2 {
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.imageIcon2 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 21px);
  left: calc(50% - 21px);
}
.njpgIcon2 {
  width: 32px;
  height: 32px;
  position: relative;
}
.border2 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  border: 1px solid var(--wwwinstagramcom-black-98);
  box-sizing: border-box;
  z-index: 1;
}
.button3,
.link4 {
  display: flex;
  align-items: flex-start;
}
.link4 {
  height: 32px;
  width: 32px;
  border-radius: var(--br-base);
  background-color: var(--wwwinstagramcom-wild-sand);
  flex-direction: column;
  justify-content: center;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.button3 {
  flex-direction: row;
  justify-content: flex-start;
}
.kristineX23 {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 18px;
  font-weight: 600;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.container17,
.container18,
.link5 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link5 {
  border-radius: var(--br-11xs);
  flex-direction: row;
  padding: var(--padding-12xs-3) 0 var(--padding-12xs-4);
}
.container17,
.container18 {
  flex-direction: column;
}
.hasanInRed,
.heading31 {
  position: absolute;
  display: flex;
  align-items: center;
}
.heading31 {
  top: 0;
  left: 0;
  width: 80px;
  height: 18.7px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.hasanInRed {
  top: 0.3px;
  left: 78.9px;
  font-size: var(--wwwmyntracom-assistant-regular-14-size);
  line-height: 18px;
  color: var(--wwwmyntracom-black);
  text-align: left;
  width: 101px;
  height: 18px;
  z-index: 1;
}
.heading3Group {
  align-self: stretch;
  height: 18.7px;
  position: relative;
}
.link6,
.time16h1 {
  align-self: stretch;
  display: flex;
}
.time16h1 {
  flex: 1;
  position: relative;
  line-height: 16px;
  color: inherit;
  align-items: center;
  text-decoration: none;
}
.link6 {
  width: 32px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 0 0;
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
}
.button21,
.buttonReply1 {
  position: relative;
  line-height: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button21 {
  height: 16px;
  width: 34px;
  font-size: var(--wwwinstagramcom-roboto-semibold-1163-size);
}
.buttonReply1 {
  align-self: stretch;
  width: 30px;
  font-size: var(--wwwmyntracom-assistant-bold-12-size);
}
.container19 {
  width: 100%;
  flex: 1;
  flex-direction: row;
  max-width: 179.44px;
  font-size: var(--wwwinstagramcom-roboto-regular-1181-size);
  color: var(--wwwinstagramcom-dove-gray);
}
.buttonGroup,
.container19,
.frameGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs-1);
}
.buttonGroup {
  height: 41.8px;
  width: 229.9px;
  flex-direction: row;
  gap: var(--gap-lg);
  flex-shrink: 0;
}
.imgLike1 {
  width: 12px;
  height: 12px;
  position: relative;
}
.button4,
.container21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.button4 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container20 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container16,
.containerContainer,
.margin10 {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.margin10 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.container16,
.containerContainer {
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.container16 {
  height: 43px;
  flex: 1;
  justify-content: space-between;
  padding: 0 0 var(--padding-10xs-1);
  gap: var(--gap-xl);
}
.containerContainer {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xs);
  font-size: var(--wwwinstagramcom-roboto-semibold-1378-size);
}
.ajpgIcon,
.imageIcon3 {
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.imageIcon3 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 21px);
  left: calc(50% - 21px);
}
.ajpgIcon {
  width: 32px;
  height: 32px;
  position: relative;
}
.border3 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  border: 1px solid var(--wwwinstagramcom-black-98);
  box-sizing: border-box;
  z-index: 1;
}
.button5,
.link7 {
  display: flex;
  align-items: flex-start;
}
.link7 {
  height: 32px;
  width: 32px;
  border-radius: var(--br-base);
  background-color: var(--wwwinstagramcom-wild-sand);
  flex-direction: column;
  justify-content: center;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.button5 {
  flex-direction: row;
  justify-content: flex-start;
}
.katalynrose,
.link8 {
  align-self: stretch;
  flex: 1;
}
.katalynrose {
  position: relative;
  line-height: 18px;
  font-weight: 600;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.link8 {
  border-radius: var(--br-11xs);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-12xs-3) 0 var(--padding-12xs-4);
}
.container23,
.container24,
.heading32,
.link8 {
  display: flex;
  justify-content: flex-start;
}
.container23,
.container24 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.heading32 {
  height: 18.7px;
  width: 77px;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.sheIsBeauty {
  flex: 1;
  position: relative;
  font-size: var(--wwwmyntracom-assistant-regular-14-size);
  line-height: 18px;
  color: var(--wwwmyntracom-black);
  text-align: left;
  display: inline-block;
  min-width: 146px;
  z-index: 1;
  margin-left: -0.1px;
}
.heading3Container,
.time16h2 {
  align-self: stretch;
  display: flex;
}
.heading3Container {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 20px;
}
.time16h2 {
  flex: 1;
  position: relative;
  line-height: 16px;
  color: inherit;
  align-items: center;
  text-decoration: none;
}
.link9 {
  height: 16px;
  width: 32px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 0 0;
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
}
.button13,
.buttonReply2 {
  height: 16px;
  width: 39px;
  position: relative;
  font-size: var(--wwwinstagramcom-roboto-semibold-1106-size);
  line-height: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonReply2 {
  width: 30px;
  font-size: var(--wwwmyntracom-assistant-bold-12-size);
}
.container25 {
  width: 100%;
  flex-direction: row;
  max-width: 299.3px;
  row-gap: 20px;
  font-size: var(--wwwinstagramcom-roboto-regular-1181-size);
  color: var(--wwwinstagramcom-dove-gray);
}
.buttonContainer,
.container25,
.frameContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameContainer {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs-1);
  min-width: 196px;
}
.buttonContainer {
  width: 350.9px;
  flex-direction: row;
  gap: var(--gap-lg);
  flex-shrink: 0;
  max-width: calc(100% - 32px);
}
.imgLike2 {
  width: 12px;
  height: 12px;
  position: relative;
}
.button6,
.container27 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.button6 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container26 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container22,
.containerFrame,
.margin11 {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.margin11 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.container22,
.containerFrame {
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.container22 {
  height: 43px;
  flex: 1;
  justify-content: space-between;
  padding: 0 0 var(--padding-10xs-1);
  gap: var(--gap-xl);
}
.containerFrame {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xs);
  font-size: var(--wwwinstagramcom-roboto-regular-1389-size);
}
.imageIcon4,
.njpgIcon3 {
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.imageIcon4 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 21px);
  left: calc(50% - 21px);
}
.njpgIcon3 {
  width: 32px;
  height: 32px;
  position: relative;
}
.border4 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  border: 1px solid var(--wwwinstagramcom-black-98);
  box-sizing: border-box;
  z-index: 1;
}
.button7,
.link10 {
  display: flex;
  align-items: flex-start;
}
.link10 {
  height: 32px;
  width: 32px;
  border-radius: var(--br-base);
  background-color: var(--wwwinstagramcom-wild-sand);
  flex-direction: column;
  justify-content: center;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.button7 {
  flex-direction: row;
  justify-content: flex-start;
}
.link11,
.suyannecastro {
  align-self: stretch;
  flex: 1;
}
.suyannecastro {
  position: relative;
  line-height: 18px;
  font-weight: 600;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.link11 {
  border-radius: var(--br-11xs);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-12xs-3) 0 var(--padding-12xs-4);
}
.container29,
.container30,
.heading33,
.link11 {
  display: flex;
  justify-content: flex-start;
}
.container29,
.container30 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.heading33 {
  height: 18.7px;
  width: 98px;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.muitoSerenaLinda {
  flex: 1;
  position: relative;
  font-size: var(--wwwmyntracom-assistant-regular-14-size);
  line-height: 18px;
  color: var(--wwwmyntracom-black);
  text-align: left;
  display: inline-block;
  min-width: 131px;
}
.heading3Parent1,
.time16h3 {
  align-self: stretch;
  display: flex;
}
.heading3Parent1 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs-2);
}
.time16h3 {
  flex: 1;
  position: relative;
  line-height: 16px;
  color: inherit;
  align-items: center;
  text-decoration: none;
}
.link12 {
  height: 16px;
  width: 32px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 0 0;
  box-sizing: border-box;
  cursor: pointer;
  font-size: var(--wwwinstagramcom-roboto-regular-1181-size);
}
.button16 {
  width: 39px;
  font-size: var(--wwwinstagramcom-roboto-semibold-1106-size);
  text-align: center;
  justify-content: center;
}
.button16,
.buttonReply3,
.seeTranslation {
  height: 16px;
  position: relative;
  line-height: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.buttonReply3 {
  width: 31px;
  text-align: center;
  justify-content: center;
}
.seeTranslation {
  align-self: stretch;
  white-space: nowrap;
}
.container32 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 82px;
}
.button8,
.container31 {
  flex-direction: row;
  box-sizing: border-box;
}
.button8 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-2xs);
  min-width: 60px;
}
.container31 {
  width: 100%;
  padding: 0 var(--padding-84xl) 0 0;
  max-width: 298.56px;
  row-gap: 20px;
  text-align: left;
  font-size: var(--wwwmyntracom-assistant-bold-12-size);
  color: var(--wwwinstagramcom-dove-gray);
}
.buttonParent1,
.container31,
.frameParent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs-1);
  min-width: 194px;
}
.buttonParent1 {
  width: 349.2px;
  flex-direction: row;
  gap: var(--gap-lg);
  flex-shrink: 0;
  max-width: calc(100% - 32px);
}
.imgLike3 {
  width: 12px;
  height: 12px;
  position: relative;
}
.button9,
.container34 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.button9 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container33 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container28,
.frameDiv,
.margin12 {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.margin12 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.container28,
.frameDiv {
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.container28 {
  height: 43px;
  flex: 1;
  justify-content: space-between;
  padding: 0 0 var(--padding-10xs-1);
  gap: var(--gap-xl);
}
.frameDiv {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xs);
  font-size: var(--wwwinstagramcom-roboto-semibold-1367-size);
}
.imageIcon5,
.njpgIcon4 {
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.imageIcon5 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 21px);
  left: calc(50% - 21px);
}
.njpgIcon4 {
  width: 32px;
  height: 32px;
  position: relative;
}
.border5 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  border: 1px solid var(--wwwinstagramcom-black-98);
  box-sizing: border-box;
  z-index: 1;
}
.button10,
.link13 {
  display: flex;
  align-items: flex-start;
}
.link13 {
  height: 32px;
  width: 32px;
  border-radius: var(--br-base);
  background-color: var(--wwwinstagramcom-wild-sand);
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.button10 {
  flex-direction: row;
  justify-content: flex-start;
}
.mablakelively {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 18px;
  font-weight: 600;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.container36,
.container37,
.link14 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link14 {
  border-radius: var(--br-11xs);
  flex-direction: row;
  padding: var(--padding-12xs-3) 0 var(--padding-12xs-4);
}
.container36,
.container37 {
  flex-direction: column;
}
.heading34,
.imLivingFor {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.heading34 {
  height: 18.7px;
  width: 94px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.imLivingFor {
  height: 18px;
  flex: 1;
  position: relative;
  font-size: var(--wwwmyntracom-assistant-regular-14-size);
  line-height: 18px;
  color: var(--wwwmyntracom-black);
  text-align: left;
  min-width: 124px;
  z-index: 1;
  margin-left: -0.4px;
}
.heading3Parent2,
.time11h {
  align-self: stretch;
  display: flex;
}
.heading3Parent2 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 20px;
}
.time11h {
  flex: 1;
  position: relative;
  line-height: 16px;
  color: inherit;
  align-items: center;
  text-decoration: none;
}
.link15 {
  height: 16px;
  width: 32px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 0 0;
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
}
.button31,
.buttonReply4 {
  height: 16px;
  width: 34px;
  position: relative;
  font-size: var(--wwwinstagramcom-roboto-semibold-1163-size);
  line-height: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonReply4 {
  width: 30px;
  font-size: var(--wwwmyntracom-assistant-bold-12-size);
}
.container38 {
  width: 100%;
  flex-direction: row;
  max-width: 284.3px;
  row-gap: 20px;
  font-size: var(--wwwinstagramcom-roboto-regular-1181-size);
  color: var(--wwwinstagramcom-dove-gray);
}
.buttonParent2,
.container38,
.frameParent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent2 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs-1);
  min-width: 185px;
}
.buttonParent2 {
  width: 334.5px;
  flex-direction: row;
  gap: var(--gap-lg);
  flex-shrink: 0;
  max-width: calc(100% - 32px);
}
.imgLike4 {
  width: 12px;
  height: 12px;
  position: relative;
}
.button12,
.container40 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.button12 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container39 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container35,
.containerWrapper1,
.margin13 {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.margin13 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.container35,
.containerWrapper1 {
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.container35 {
  height: 43px;
  flex: 1;
  justify-content: space-between;
  padding: 0 0 var(--padding-10xs-1);
  gap: var(--gap-xl);
}
.containerWrapper1 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xs);
  font-size: var(--wwwinstagramcom-roboto-regular-1389-size);
}
.imageIcon6,
.njpgIcon5 {
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.imageIcon6 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 21px);
  left: calc(50% - 21px);
}
.njpgIcon5 {
  width: 32px;
  height: 32px;
  position: relative;
}
.border6 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  border: 1px solid var(--wwwinstagramcom-black-98);
  box-sizing: border-box;
  z-index: 1;
}
.button14,
.link16 {
  display: flex;
  align-items: flex-start;
}
.link16 {
  height: 32px;
  width: 32px;
  border-radius: var(--br-base);
  background-color: var(--wwwinstagramcom-wild-sand);
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.button14 {
  flex-direction: row;
  justify-content: flex-start;
  flex-shrink: 0;
}
.imgLike5 {
  width: 12px;
  height: 12px;
  position: relative;
}
.button15,
.container43 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.button15 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container42 {
  flex-direction: column;
}
.comment,
.container41,
.container42,
.firstParagraphParent,
.margin14 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.margin14 {
  flex-direction: column;
  padding: var(--padding-4xs) 0 0;
}
.comment,
.container41,
.firstParagraphParent {
  flex-direction: row;
  max-width: 100%;
  flex-shrink: 0;
}
.firstParagraphParent {
  flex: 1;
  gap: var(--gap-base);
  min-width: 272px;
}
.comment,
.container41 {
  box-sizing: border-box;
}
.container41 {
  flex: 1;
  padding: 0 0 var(--padding-10xs-1);
  gap: var(--gap-lg);
}
.comment {
  align-self: stretch;
  padding: 0 0 var(--padding-7xs-9);
  text-align: left;
  color: var(--wwwinstagramcom-midnight-blue);
}
.horizontalDivider {
  width: 24px;
  height: 1px;
  position: relative;
  border-bottom: 0.9px solid var(--wwwinstagramcom-dove-gray);
  box-sizing: border-box;
}
.horizontalDividerWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xs-6);
}
.viewReplies2 {
  height: 16px;
  flex: 1;
  position: relative;
  line-height: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 54px;
}
.commentActionsInner,
.frameParent3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-shrink: 0;
}
.frameParent3 {
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-base);
}
.commentActionsInner {
  width: 231.5px;
  align-items: flex-start;
  padding: 0 var(--padding-35xl) var(--padding-sm-1);
  box-sizing: border-box;
  font-size: var(--wwwinstagramcom-roboto-regular-1181-size);
  color: var(--wwwinstagramcom-dove-gray);
}
.horizontalDivider1 {
  width: 24px;
  height: 1px;
  position: relative;
  border-bottom: 0.9px solid var(--wwwinstagramcom-dove-gray);
  box-sizing: border-box;
}
.horizontalDividerContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xs-6);
}
.viewReplies1 {
  flex: 1;
  position: relative;
  line-height: 16px;
  font-weight: 600;
  display: inline-block;
  min-width: 53px;
}
.commentActionsChild,
.frameParent4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-shrink: 0;
}
.frameParent4 {
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-base);
}
.commentActionsChild {
  width: 230px;
  align-items: flex-start;
  padding: 0 var(--padding-35xl) var(--padding-sm-1);
  box-sizing: border-box;
  font-size: var(--wwwinstagramcom-roboto-semibold-1163-size);
  color: var(--wwwinstagramcom-dove-gray);
}
.imageIcon7,
.njpgIcon6 {
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.imageIcon7 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 21px);
  left: calc(50% - 21px);
}
.njpgIcon6 {
  width: 32px;
  height: 32px;
  position: relative;
}
.border7 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  border: 1px solid var(--wwwinstagramcom-black-98);
  box-sizing: border-box;
  z-index: 1;
}
.button17,
.link17 {
  display: flex;
  align-items: flex-start;
}
.link17 {
  height: 32px;
  width: 32px;
  border-radius: var(--br-base);
  background-color: var(--wwwinstagramcom-wild-sand);
  flex-direction: column;
  justify-content: center;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.button17 {
  flex-direction: row;
  justify-content: flex-start;
}
.ghazmarinho,
.link18 {
  align-self: stretch;
  flex: 1;
}
.ghazmarinho {
  position: relative;
  line-height: 18px;
  font-weight: 600;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.link18 {
  border-radius: var(--br-11xs);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-12xs-3) 0 var(--padding-12xs-4);
}
.container45,
.container46,
.heading35,
.link18 {
  display: flex;
  justify-content: flex-start;
}
.container45,
.container46 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.heading35 {
  height: 18.7px;
  width: 87px;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-9xs) 0 0;
  box-sizing: border-box;
  text-align: center;
  color: var(--wwwinstagramcom-mine-shaft);
}
.justinbaldoni,
.whereIs {
  align-self: stretch;
  position: relative;
  line-height: 18px;
  display: flex;
  align-items: center;
}
.whereIs {
  width: 57.7px;
  flex-shrink: 0;
}
.justinbaldoni {
  width: 93px;
  color: var(--wwwinstagramcom-midnight-blue);
  text-decoration: none;
  z-index: 1;
  margin-left: -0.2px;
}
.backgroundItem {
  height: 18px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.modalActions {
  height: 18px;
  width: 10.3px;
  position: relative;
  line-height: 18px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dialogInner,
.time16h4 {
  align-self: stretch;
  display: flex;
}
.dialogInner {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs-4);
}
.time16h4 {
  flex: 1;
  position: relative;
  line-height: 16px;
  color: inherit;
  align-items: center;
  text-decoration: none;
}
.link19 {
  height: 16px;
  width: 32px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 0 0;
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
}
.button101,
.buttonReply5 {
  height: 16px;
  width: 39px;
  position: relative;
  font-size: var(--wwwinstagramcom-roboto-semibold-1106-size);
  line-height: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonReply5 {
  width: 30px;
  font-size: var(--wwwmyntracom-assistant-bold-12-size);
}
.container47 {
  width: 100%;
  flex-direction: row;
  max-width: 248.44px;
  row-gap: 20px;
  text-align: center;
  font-size: var(--wwwinstagramcom-roboto-regular-1181-size);
  color: var(--wwwinstagramcom-dove-gray);
}
.buttonParent3,
.container47,
.dialogRoot {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dialogRoot {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs-1);
}
.buttonParent3 {
  width: 298.6px;
  flex-direction: row;
  gap: var(--gap-lg);
  flex-shrink: 0;
}
.imgLike6 {
  width: 12px;
  height: 12px;
  position: relative;
}
.button18,
.container49 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.button18 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container48 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.comment1,
.container44,
.margin15 {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.margin15 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.comment1,
.container44 {
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.container44 {
  height: 43px;
  flex: 1;
  justify-content: space-between;
  padding: 0 0 var(--padding-10xs-1);
  gap: var(--gap-xl);
}
.comment1 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs-9);
  text-align: left;
  color: var(--wwwmyntracom-black);
}
.horizontalDivider2 {
  width: 24px;
  height: 1px;
  position: relative;
  border-bottom: 0.9px solid var(--wwwinstagramcom-dove-gray);
  box-sizing: border-box;
}
.horizontalDividerFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xs-6);
}
.viewReplies11 {
  flex: 1;
  position: relative;
  line-height: 16px;
  font-weight: 600;
  display: inline-block;
  min-width: 53px;
}
.commentActionsInner1,
.frameParent5 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-shrink: 0;
}
.frameParent5 {
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-base);
}
.commentActionsInner1 {
  width: 230px;
  align-items: flex-start;
  padding: 0 var(--padding-35xl) var(--padding-sm-1);
  box-sizing: border-box;
  font-size: var(--wwwinstagramcom-roboto-semibold-1163-size);
  color: var(--wwwinstagramcom-dove-gray);
}
.ajpgIcon1,
.imageIcon8 {
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.imageIcon8 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 21px);
  left: calc(50% - 21px);
}
.ajpgIcon1 {
  width: 32px;
  height: 32px;
  position: relative;
}
.border8 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  border: 1px solid var(--wwwinstagramcom-black-98);
  box-sizing: border-box;
  z-index: 1;
}
.button19,
.link20 {
  display: flex;
  align-items: flex-start;
}
.link20 {
  height: 32px;
  width: 32px;
  border-radius: var(--br-base);
  background-color: var(--wwwinstagramcom-wild-sand);
  flex-direction: column;
  justify-content: center;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.button19 {
  flex-direction: row;
  justify-content: flex-start;
}
.kekkelai,
.link21 {
  align-self: stretch;
  flex: 1;
}
.kekkelai {
  position: relative;
  line-height: 18px;
  font-weight: 600;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.link21 {
  border-radius: var(--br-11xs);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-12xs-3) 0 var(--padding-12xs-4);
}
.container51,
.container52,
.heading36,
.link21 {
  display: flex;
  justify-content: flex-start;
}
.container51,
.container52 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.heading36 {
  height: 18.7px;
  width: 55px;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-10xs) 0 0;
  box-sizing: border-box;
  text-align: center;
}
.isTheBest,
.storrowjewelry {
  height: 18px;
  position: relative;
  line-height: 18px;
  display: flex;
  align-items: center;
}
.storrowjewelry {
  flex: 1;
  font-size: var(--wwwinstagramcom-roboto-regular-1389-size);
  color: var(--wwwinstagramcom-midnight-blue);
  text-decoration: none;
  min-width: 67px;
}
.isTheBest {
  width: 79.1px;
  font-size: var(--wwwmyntracom-assistant-regular-14-size);
  color: var(--wwwmyntracom-black);
  flex-shrink: 0;
}
.heading3Parent3,
.time15h {
  align-self: stretch;
  display: flex;
}
.heading3Parent3 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs-3);
}
.time15h {
  flex: 1;
  position: relative;
  line-height: 16px;
  color: inherit;
  align-items: center;
  text-decoration: none;
}
.link22 {
  height: 16px;
  width: 32px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 0 0;
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
}
.button22,
.buttonReply6 {
  height: 16px;
  width: 34px;
  position: relative;
  font-size: var(--wwwinstagramcom-roboto-semibold-1163-size);
  line-height: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonReply6 {
  width: 30px;
  font-size: var(--wwwmyntracom-assistant-bold-12-size);
}
.container53 {
  width: 100%;
  flex-direction: row;
  max-width: 237.42px;
  row-gap: 20px;
  text-align: center;
  font-size: var(--wwwinstagramcom-roboto-regular-1181-size);
  color: var(--wwwinstagramcom-dove-gray);
}
.buttonParent4,
.container53,
.frameParent6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent6 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs-1);
}
.buttonParent4 {
  width: 287.7px;
  flex-direction: row;
  gap: var(--gap-lg);
  flex-shrink: 0;
}
.imgLike7 {
  width: 12px;
  height: 12px;
  position: relative;
}
.button20,
.container55 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.button20 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container54 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container50,
.containerWrapper2,
.margin16 {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.margin16 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.container50,
.containerWrapper2 {
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.container50 {
  height: 43px;
  flex: 1;
  justify-content: space-between;
  padding: 0 0 var(--padding-10xs-1);
  gap: var(--gap-xl);
}
.containerWrapper2 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xs);
  text-align: left;
  font-size: var(--wwwinstagramcom-roboto-semibold-1378-size);
}
.imageIcon9,
.njpgIcon7 {
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.imageIcon9 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 21px);
  left: calc(50% - 21px);
}
.njpgIcon7 {
  width: 32px;
  height: 32px;
  position: relative;
}
.border9 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  border: 1px solid var(--wwwinstagramcom-black-98);
  box-sizing: border-box;
  z-index: 1;
}
.button23,
.link23 {
  display: flex;
  align-items: flex-start;
}
.link23 {
  height: 32px;
  width: 32px;
  border-radius: var(--br-base);
  background-color: var(--wwwinstagramcom-wild-sand);
  flex-direction: column;
  justify-content: center;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.button23 {
  flex-direction: row;
  justify-content: flex-start;
  flex-shrink: 0;
}
.valeriealden {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 18px;
  font-weight: 600;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.container57,
.container58,
.link24,
.margin17 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link24 {
  border-radius: var(--br-11xs);
  flex-direction: row;
  padding: var(--padding-12xs-3) 0 var(--padding-12xs-4);
}
.container57,
.container58,
.margin17 {
  flex-direction: column;
}
.margin17 {
  padding: 0 var(--padding-9xs) 0 0;
}
.imgVerified {
  width: 12px;
  height: 12px;
  position: relative;
}
.heading37,
.margin18 {
  display: flex;
  justify-content: flex-start;
}
.margin18 {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
}
.heading37 {
  height: 18.7px;
  width: 103px;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  text-align: center;
  color: var(--wwwinstagramcom-mine-shaft);
}
.cantWaitTo {
  width: 106.1px;
  z-index: 1;
}
.cantWaitTo,
.div,
.itendswithusmovie {
  height: 18px;
  position: relative;
  line-height: 18px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-left: -0.4px;
}
.itendswithusmovie {
  flex: 1;
  font-size: var(--wwwinstagramcom-roboto-regular-1389-size);
  color: var(--wwwinstagramcom-midnight-blue);
  text-decoration: none;
  min-width: 84px;
  z-index: 2;
}
.div {
  width: 42.5px;
  z-index: 3;
}
.time16h5,
.userComment {
  align-self: stretch;
  display: flex;
}
.userComment {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 20px;
}
.time16h5 {
  flex: 1;
  position: relative;
  line-height: 16px;
  color: inherit;
  align-items: center;
  text-decoration: none;
}
.link25 {
  height: 16px;
  width: 32px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 0 0;
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
}
.button61,
.buttonReply7 {
  height: 16px;
  width: 34px;
  position: relative;
  font-size: var(--wwwinstagramcom-roboto-semibold-1163-size);
  line-height: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonReply7 {
  width: 30px;
  font-size: var(--wwwmyntracom-assistant-bold-12-size);
}
.commentLink,
.container59 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container59 {
  width: 100%;
  flex-direction: row;
  max-width: 379.24px;
  row-gap: 20px;
  text-align: center;
  font-size: var(--wwwinstagramcom-roboto-regular-1181-size);
  color: var(--wwwinstagramcom-dove-gray);
}
.commentLink {
  flex: 1;
  flex-direction: column;
  padding: 0 var(--padding-4xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-5xs-1);
  max-width: calc(100% - 80px);
  flex-shrink: 0;
}
.imgLike8 {
  width: 12px;
  height: 12px;
  position: relative;
}
.button24,
.container61 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.button24 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container56,
.container60,
.margin19 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container56,
.margin19 {
  padding: var(--padding-4xs) 0 0;
  flex-shrink: 0;
}
.container56 {
  align-self: stretch;
  height: 43px;
  flex-direction: row;
  padding: 0 0 var(--padding-10xs-1);
  box-sizing: border-box;
  gap: var(--gap-lg);
  max-width: 100%;
  text-align: left;
  color: var(--wwwmyntracom-black);
}
.imgLoadMoreComments {
  position: absolute;
  top: 13px;
  left: 221.6px;
  width: 24px;
  height: 24px;
}
.item {
  align-self: stretch;
  height: 45px;
  position: relative;
  min-height: 40px;
  flex-shrink: 0;
}
.commentActions {
  height: 823.2px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-26xl-3);
  gap: var(--gap-2xs);
  text-align: center;
  font-size: var(--wwwmyntracom-assistant-regular-14-size);
  color: var(--wwwinstagramcom-mine-shaft);
}
.commentActions,
.list,
.verticalborder {
  align-self: stretch;
  box-sizing: border-box;
  flex-direction: column;
  max-width: 100%;
  flex-shrink: 0;
}
.list {
  height: 400.3px;
  overflow-y: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-mini) var(--padding-311xl-3)
    var(--padding-base);
  gap: var(--gap-171xl);
}
.verticalborder {
  border-left: 0.9px solid var(--wwwinstagramcom-gallery);
  gap: var(--gap-12xs);
  min-width: 335px;
  font-size: var(--wwwinstagramcom-roboto-regular-1389-size);
  color: var(--wwwmyntracom-black);
}
.background11,
.container5,
.container7,
.dialog1,
.verticalborder {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.background11 {
  height: 618px;
  flex: 1;
  border-radius: 0 var(--br-9xs) var(--br-9xs) 0;
  background-color: var(--wwwmyntracom-nero);
  flex-direction: column;
  padding: 0 0 var(--padding-538xl-1);
  box-sizing: border-box;
  max-width: 100%;
}
.container5,
.container7,
.dialog1 {
  flex-direction: row;
}
.container7 {
  width: 500px;
  min-width: 500px;
  max-width: 500px;
  font-size: var(--wwwmyntracom-assistant-regular-14-size);
  color: var(--wwwinstagramcom-mine-shaft);
  font-family: var(--wwwinstagramcom-roboto-regular-1575);
}
.container5,
.dialog1 {
  flex: 1;
  max-width: 1556.44px;
}
.container5 {
  padding: 0 var(--padding-128xl);
  box-sizing: border-box;
  row-gap: 20px;
}
.dialog1 {
  margin-bottom: -277px;
  border-radius: var(--br-9xs);
  overflow-y: auto;
  max-height: 625.78px;
}
.containerIcon {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 16px;
  height: 16px;
  object-fit: contain;
}
.backgroundshadow {
  height: 32px;
  width: 32px;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-base);
  background-color: var(--wwwmyntracom-nero);
  overflow: hidden;
  flex-shrink: 0;
}
.container4,
.dialog {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
}
.container4 {
  margin-left: -211.5px;
  height: 578px;
  width: 1684.4px;
  align-items: flex-end;
  padding: var(--padding-270xl) var(--padding-xs) var(--padding-238xl)
    var(--padding-45xl);
  gap: var(--gap-xl);
  max-height: 578px;
  flex-shrink: 0;
  max-width: 134%;
}
.dialog {
  flex: 1;
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-xl) 0;
  max-width: 100%;
}
.imgClose {
  height: 18px;
  width: 18px;
  position: absolute;
  margin: 0 !important;
  top: -5.9px;
  right: 18px;
  z-index: 2;
}
.container2,
.container3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.container3 {
  position: relative;
  min-height: 618px;
}
.container2 {
  padding: var(--padding-4xl-9) 0;
  box-sizing: border-box;
  cursor: pointer;
}
.container1 {
  flex: 1;
  min-height: 665.78px;
  max-width: 100%;
  z-index: 1;
}
.container,
.container1,
.overlay {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.overlay {
  flex: 1;
  background-color: var(--wwwinstagramcom-black-65);
  overflow: hidden;
  max-width: 100%;
}
.container {
  margin-right: -254.4px;
  width: 1261.4px;
  max-width: 126%;
  flex-shrink: 0;
  z-index: 1;
  text-align: left;
  font-size: var(--wwwinstagramcom-roboto-regular-15-size);
  color: var(--wwwmyntracom-black);
  font-family: var(--wwwmyntracom-assistant-bold-24);
}
@media screen and (max-width: 1275px) {
  .contentBackground {
    flex: 1;
    min-width: 100%;
  }
  .commentActions {
    padding-bottom: var(--padding-10xl);
  }
  .background11,
  .commentActions,
  .list {
    box-sizing: border-box;
  }
  .list {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-196xl);
  }
  .background11 {
    padding-bottom: var(--padding-343xl);
  }
  .container7 {
    width: 100%;
    min-width: 100%;
  }
  .container5 {
    flex-wrap: wrap;
    padding-left: var(--padding-54xl);
    padding-right: var(--padding-54xl);
    box-sizing: border-box;
  }
  .container4 {
    height: auto;
    padding-left: var(--padding-13xl);
    padding-top: var(--padding-169xl);
    padding-bottom: var(--padding-148xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .contentBackground {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .background {
    max-width: 100%;
  }
  .contentBackground {
    min-width: 100%;
  }
  .container41,
  .container8,
  .firstParagraphParent,
  .userComment {
    flex-wrap: wrap;
  }
  .container56 {
    height: auto;
  }
  .commentActions {
    padding-bottom: var(--padding-xl);
  }
  .background11,
  .commentActions,
  .list {
    height: auto;
    box-sizing: border-box;
  }
  .list {
    gap: var(--gap-76xl);
    padding-bottom: var(--padding-121xl);
  }
  .background11 {
    padding-bottom: var(--padding-216xl);
  }
  .container7 {
    max-width: 100%;
  }
  .container5 {
    padding-left: var(--padding-17xl);
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
  .container2,
  .container4 {
    padding-top: var(--padding-103xl);
    padding-bottom: var(--padding-90xl);
    box-sizing: border-box;
  }
  .container2 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
  }
}
@media screen and (max-width: 450px) {
  .container6 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .contentBackground {
    height: auto;
    min-height: 617.9999999999995;
    min-width: 100%;
  }
  .container8 {
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
  .isabelaAndBlake {
    margin-left: 0;
  }
  .container13,
  .heading3Parent {
    flex-wrap: wrap;
  }
  .container10 {
    height: auto;
  }
  .sheIsBeauty {
    margin-left: 0;
  }
  .buttonContainer,
  .container25,
  .heading3Container {
    flex-wrap: wrap;
  }
  .container22 {
    height: auto;
  }
  .heading3Parent1 {
    flex-wrap: wrap;
  }
  .container31 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .buttonParent1,
  .container31 {
    flex-wrap: wrap;
  }
  .container28 {
    height: auto;
  }
  .imLivingFor {
    margin-left: 0;
  }
  .buttonParent2,
  .container38,
  .heading3Parent2 {
    flex-wrap: wrap;
  }
  .container35 {
    height: auto;
  }
  .frameParent3,
  .frameParent4 {
    flex-wrap: wrap;
  }
  .modalActions {
    width: 100%;
    height: 10.3px;
  }
  .container47,
  .dialogInner {
    flex-wrap: wrap;
  }
  .container44 {
    height: auto;
  }
  .container53,
  .frameParent5,
  .heading3Parent3 {
    flex-wrap: wrap;
  }
  .container50 {
    height: auto;
  }
  .container59 {
    flex-wrap: wrap;
  }
  .list {
    gap: var(--gap-28xl);
  }
}
