.imageIcon,
.njpgIcon {
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.imageIcon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 21px);
  left: calc(50% - 21px);
}
.njpgIcon {
  width: 32px;
  height: 32px;
  position: relative;
}
.border {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-base);
  border: 1px solid var(--wwwinstagramcom-black-98);
  box-sizing: border-box;
  z-index: 1;
}
.button,
.link {
  display: flex;
  align-items: flex-start;
}
.link {
  height: 32px;
  width: 32px;
  border-radius: var(--br-base);
  background-color: var(--wwwinstagramcom-wild-sand);
  flex-direction: column;
  justify-content: center;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.button {
  flex-direction: row;
  justify-content: flex-start;
  flex-shrink: 0;
}
.seemasundays {
  position: relative;
  line-height: 18px;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  min-width: 93px;
}
.container1,
.container2,
.link1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link1 {
  border-radius: var(--br-11xs);
  flex-direction: row;
  padding: var(--padding-12xs-3) 0 var(--padding-12xs-4);
}
.container1,
.container2 {
  flex-direction: column;
}
.commentReplyLikes,
.heading3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.heading3 {
  margin-bottom: -0.4px;
  align-items: center;
  padding: 0 var(--padding-9xs) 0 0;
  flex-shrink: 0;
}
.commentReplyLikes {
  height: 18.3px;
  align-items: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.withYouLol {
  align-self: stretch;
  position: relative;
  font-size: var(--wwwinstagramcom-roboto-regular-1389-size);
  line-height: 18px;
  color: var(--wwwmyntracom-black);
  text-align: left;
  flex-shrink: 0;
}
.commentReplyContent {
  width: 119.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.iCantBelieve {
  position: relative;
  font-size: var(--wwwmyntracom-assistant-regular-14-size);
  line-height: 18px;
  color: var(--wwwmyntracom-black);
  text-align: left;
  flex-shrink: 0;
  margin-left: -24px;
}
.commentReplyActions {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 244px;
  max-width: 100%;
  row-gap: 20px;
}
.imgLike {
  width: 12px;
  height: 12px;
  position: relative;
}
.button1,
.container4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.button1 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container3 {
  flex-direction: column;
}
.container3,
.margin,
.topCommentReplies {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.margin {
  flex-direction: column;
  padding: var(--padding-4xs) 0 0;
}
.topCommentReplies {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-12xl-8);
  max-width: 100%;
}
.time2h {
  position: relative;
  line-height: 16px;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  min-width: 14px;
}
.link2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 0 0;
  cursor: pointer;
  text-align: left;
}
.button11,
.buttonReply {
  position: relative;
  line-height: 16px;
  font-weight: 600;
  display: inline-block;
}
.button11 {
  font-size: var(--wwwinstagramcom-roboto-semibold-1125-size);
  min-width: 27px;
}
.buttonReply {
  min-width: 30px;
}
.container5 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 391.11px;
  row-gap: 20px;
  font-size: var(--wwwmyntracom-assistant-bold-12-size);
  color: var(--wwwinstagramcom-dove-gray);
}
.container,
.containerWrapper,
.topCommentRepliesParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  flex-shrink: 0;
}
.topCommentRepliesParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs-5);
  min-width: 272px;
}
.container,
.containerWrapper {
  flex-direction: row;
  box-sizing: border-box;
}
.container {
  flex: 1;
  padding: 0 0 var(--padding-10xs-1);
  gap: var(--gap-lg);
}
.containerWrapper {
  align-self: stretch;
  padding: 0 0 var(--padding-xs);
  text-align: center;
  font-size: var(--wwwinstagramcom-roboto-semibold-1367-size);
  color: var(--wwwinstagramcom-mine-shaft);
  font-family: var(--wwwinstagramcom-roboto-regular-1575);
}
@media screen and (max-width: 750px) {
  .commentReplyActions,
  .container,
  .topCommentReplies {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .iCantBelieve {
    margin-left: 0;
  }
  .topCommentReplies {
    gap: var(--gap-base);
  }
  .container5 {
    flex-wrap: wrap;
    max-width: 100%;
  }
}
