@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Average:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --wwwmyntracom-assistant-bold-24: Assistant;
  --wwwmyntracom-inter-regular-24: Inter;
  --wwwinstagramcom-roboto-regular-1575: Roboto;
  --font-average: Average;
  --font-sarabun: Sarabun;

  /* font sizes */
  --wwwmyntracom-assistant-bold-24-size: 24px;
  --font-size-lgi: 19px;
  --wwwmyntracom-assistant-bold-288-upper-size: 28.8px;
  --font-size-4xl: 23px;
  --wwwmyntracom-assistant-bold-12-size: 12px;
  --wwwmyntracom-assistant-regular-14-size: 14px;
  --wwwmyntracom-assistant-semibold-10-upper-size: 10px;
  --wwwinstagramcom-roboto-regular-1575-size: 15.8px;
  --wwwinstagramcom-roboto-regular-15-size: 15px;
  --wwwinstagramcom-roboto-regular-11-size: 11px;
  --wwwinstagramcom-roboto-bold-16-size: 16px;
  --wwwinstagramcom-roboto-semibold-1323-size: 13.2px;
  --wwwinstagramcom-roboto-semibold-1334-size: 13.3px;
  --wwwinstagramcom-roboto-semibold-1163-size: 11.6px;
  --wwwinstagramcom-roboto-regular-1181-size: 11.8px;
  --wwwinstagramcom-roboto-regular-1389-size: 13.9px;
  --wwwinstagramcom-roboto-semibold-1378-size: 13.8px;
  --wwwinstagramcom-roboto-semibold-1106-size: 11.1px;
  --wwwinstagramcom-roboto-semibold-1125-size: 11.3px;
  --wwwinstagramcom-roboto-semibold-1367-size: 13.7px;
  --wwwinstagramcom-roboto-semibold-1356-size: 13.6px;
  --wwwmyntracom-assistant-bold-13-size: 13px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-10xl: 29px;
  --wwwinstagramcom-roboto-regular-1144-size: 11.4px;
  --wwwinstagramcom-roboto-regular-1069-size: 10.7px;
  --font-size-lgi-8: 19.8px;

  /* Colors */
  --wwwmyntracom-nero: #fff;
  --wwwmyntracom-dodger-blue: #1d85fc;
  --wwwmyntracom-science-blue: #0074d9;
  --wwwmyntracom-alabaster: #fcfcfc;
  --wwwinstagramcom-alabaster: #fafafa;
  --wwwmyntracom-boulder: #757575;
  --wwwinstagramcom-mine-shaft: #262626;
  --wwwinstagramcom-black-80: rgba(0, 0, 0, 0.8);
  --wwwmyntracom-nero-80: rgba(255, 255, 255, 0.8);
  --color-gray-200: rgba(255, 255, 255, 0.4);
  --wwwinstagramcom-black-98: rgba(0, 0, 0, 0.1);
  --wwwinstagramcom-black-65: rgba(0, 0, 0, 0.65);
  --wwwmyntracom-nero-02: rgba(255, 255, 255, 0);
  --wwwinstagramcom-dove-gray: #737373;
  --wwwmyntracom-trout: #535766;
  --wwwmyntracom-bright-gray: #3e4152;
  --wwwmyntracom-limed-spruce: #36454f;
  --wwwmyntracom-ebony-clay: #282c3f;
  --wwwmyntracom-waterloo: #7e818c;
  --wwwmyntracom-black: #000;
  --wwwmyntracom-athens-gray: #f5f5f6;
  --wwwinstagramcom-wild-sand: #f5f5f5;
  --wwwinstagramcom-gallery: #efefef;
  --wwwmyntracom-athens-gray1: #edebef;
  --wwwmyntracom-athens-gray2: #eaeaec;
  --wwwmyntracom-linear-athens-gray-athens-gray: #e9e9ed;
  --wwwmyntracom-regal-blue: #ff3f6c;
  --wwwinstagramcom-cyprus: #ff3040;
  --wwwmyntracom-regal-blue-50: rgba(255, 63, 108, 0.5);
  --wwwmyntracom-regal-blue-80: rgba(255, 63, 108, 0.8);
  --wwwinstagramcom-alto: #dbdbdb;
  --color-lightsteelblue: rgba(179, 219, 255, 0.5);
  --wwwmyntracom-east-bay: #3c4477;
  --wwwinstagramcom-midnight-blue: #00376b;
  --wwwmyntracom-green: #ffb300;
  --wwwmyntracom-alto: #d6d6d6;
  --wwwmyntracom-iron: #d4d5d9;
  --wwwmyntracom-deep-sea: #ff905a;
  --wwwmyntracom-aluminium: #a9abb3;
  --wwwmyntracom-manatee: #94969f;
  --wwwmyntracom-chartreuse-yellow: #e5f1ff;
  --wwwmyntracom-cyan-aqua: #ffedf3;
  --wwwmyntracom-camarone: #ff5722;
  --wwwmyntracom-bright-turquoise: #fff2df;
  --wwwmyntracom-electric-violet: #f4fff9;
  --wwwmyntracom-french-gray: #c3c2c9;
  --wwwmyntracom-golden-dream: #eadc32;
  --wwwmyntracom-chestnut-rose: #d34b56;
  --wwwmyntracom-wewak: #f1a9c4;
  --wwwmyntracom-fern: #5eb160;
  --wwwmyntracom-oslo-gray: #878b94;
  --wwwmyntracom-hibiscus: #b03060;

  /* Gaps */
  --gap-13xl: 32px;
  --gap-46xl: 65px;
  --gap-190xl-6: 209.6px;
  --gap-7xl: 26px;
  --gap-33xl: 52px;
  --gap-86xl: 105px;
  --gap-4xs-9: 8.9px;
  --gap-47xl: 66px;
  --gap-base: 16px;
  --gap-14xl: 33px;
  --gap-51xl: 70px;
  --gap-mid: 17px;
  --gap-16xl: 35px;
  --gap-xl: 20px;
  --gap-9xs-8: 3.8px;
  --gap-232xl-7: 251.7px;
  --gap-11xl: 30px;
  --gap-12xs-5: 0.5px;
  --gap-12xs: 1px;
  --gap-5xs: 8px;
  --gap-171xl: 190px;
  --gap-28xl: 47px;
  --gap-76xl: 95px;
  --gap-2xs: 11px;
  --gap-lg: 18px;
  --gap-5xs-1: 7.1px;
  --gap-12xs-3: 0.3px;
  --gap-12xs-4: 0.4px;
  --gap-5xs-5: 7.5px;
  --gap-12xs-2: 0.2px;
  --gap-6xl-1: 25.1px;
  --gap-11xs-1: 1.1px;
  --gap-12xl-8: 31.8px;
  --gap-0: 0px;
  --gap-31xl: 50px;
  --gap-6xl: 25px;
  --gap-56xl-9: 75.9px;
  --gap-lgi: 19px;
  --gap-19xl: 38px;
  --gap-7xs-6: 5.6px;
  --gap-6xs-3: 6.3px;
  --gap-6xs-4: 6.4px;
  --gap-19xl-8: 38.8px;
  --gap-10xl-9: 29.9px;
  --gap-209xl: 228px;
  --gap-mid-3: 17.3px;
  --gap-7xs-8: 5.8px;
  --gap-8xs-6: 4.6px;
  --gap-9xs-4: 3.4px;
  --gap-xs: 12px;
  --gap-8xs-4: 4.4px;
  --gap-8xs-2: 4.2px;
  --gap-2xs-5: 10.5px;
  --gap-8xs-5: 4.5px;
  --gap-8xs-7: 4.7px;
  --gap-7xs: 6px;
  --gap-3xs: 10px;
  --gap-8xs-3: 4.3px;
  --gap-8xs-9: 4.9px;
  --gap-8xs-8: 4.8px;
  --gap-6xs: 7px;
  --gap-9xs-6: 3.6px;
  --gap-9xs-7: 3.7px;
  --gap-smi: 13px;
  --gap-9xs-5: 3.5px;
  --gap-sm: 14px;
  --gap-9xs-2: 3.2px;
  --gap-9xs-1: 3.1px;
  --gap-9xs-3: 3.3px;
  --gap-10xs-9: 2.9px;
  --gap-8xs: 5px;
  --gap-11xs: 2px;
  --gap-base-9: 16.9px;
  --gap-7xs-5: 5.5px;
  --gap-9xl: 28px;
  --gap-10xs: 3px;
  --gap-5xl: 24px;
  --gap-57xl: 76px;
  --gap-26xl-3: 45.3px;
  --gap-11xs-8: 1.8px;
  --gap-9xs: 4px;
  --gap-9xs-9: 3.9px;

  /* Paddings */
  --padding-10xs: 3px;
  --padding-74xl: 93px;
  --padding-9xs: 4px;
  --padding-10xl-4: 29.4px;
  --padding-26xl: 45px;
  --padding-10xl: 29px;
  --padding-255xl: 274px;
  --padding-3xs: 10px;
  --padding-11xl: 30px;
  --padding-xl: 20px;
  --padding-47xl: 66px;
  --padding-24xl: 43px;
  --padding-2xl: 21px;
  --padding-256xl-3: 275.3px;
  --padding-50xl-4: 69.4px;
  --padding-61xl: 80px;
  --padding-28xl: 47px;
  --padding-97xl: 116px;
  --padding-39xl: 58px;
  --padding-4xl: 23px;
  --padding-3xl: 22px;
  --padding-2xs: 11px;
  --padding-xs: 12px;
  --padding-smi: 13px;
  --padding-5xs: 8px;
  --padding-12xs: 1px;
  --padding-12xs-3: 0.3px;
  --padding-mid: 17px;
  --padding-8xs-6: 4.6px;
  --padding-base: 16px;
  --padding-5xl: 24px;
  --padding-311xl-6: 330.6px;
  --padding-530xl: 549px;
  --padding-77xl: 96px;
  --padding-229xl: 248px;
  --padding-7xs: 6px;
  --padding-4xl-9: 23.9px;
  --padding-81xl: 100px;
  --padding-252xl: 271px;
  --padding-11xs: 2px;
  --padding-10xs-5: 2.5px;
  --padding-11xs-5: 1.5px;
  --padding-8xs: 5px;
  --padding-mini: 15px;
  --padding-270xl: 289px;
  --padding-238xl: 257px;
  --padding-45xl: 64px;
  --padding-103xl: 122px;
  --padding-90xl: 109px;
  --padding-13xl: 32px;
  --padding-169xl: 188px;
  --padding-148xl: 167px;
  --padding-128xl: 147px;
  --padding-17xl: 36px;
  --padding-54xl: 73px;
  --padding-538xl-1: 557.1px;
  --padding-216xl: 235px;
  --padding-343xl: 362px;
  --padding-sm: 14px;
  --padding-10xs-6: 2.6px;
  --padding-12xs-4: 0.4px;
  --padding-12xs-6: 0.6px;
  --padding-12xs-2: 0.2px;
  --padding-311xl-3: 330.3px;
  --padding-121xl: 140px;
  --padding-196xl: 215px;
  --padding-26xl-3: 45.3px;
  --padding-10xs-1: 2.1px;
  --padding-4xs: 9px;
  --padding-35xl: 54px;
  --padding-sm-1: 13.1px;
  --padding-7xs-6: 5.6px;
  --padding-7xs-9: 5.9px;
  --padding-84xl: 103px;
  --padding-23xl-9: 42.9px;
  --padding-9xl: 28px;
  --padding-9xs-4: 3.4px;
  --padding-lg: 18px;
  --padding-11xs-4: 1.4px;
  --padding-6xl: 25px;
  --padding-32xl: 51px;
  --padding-mid-7: 17.7px;
  --padding-112xl: 131px;
  --padding-46xl: 65px;
  --padding-88xl: 107px;
  --padding-16xl: 35px;
  --padding-10xl-3: 29.3px;
  --padding-10xs-7: 2.7px;
  --padding-5xl-7: 24.7px;
  --padding-199xl: 218px;
  --padding-190xl: 209px;
  --padding-33xl: 52px;
  --padding-85xl: 104px;
  --padding-8xs-7: 4.7px;
  --padding-9xs-7: 3.7px;
  --padding-6xs: 7px;
  --padding-2xs-5: 10.5px;
  --padding-8xs-3: 4.3px;
  --padding-8xs-4: 4.4px;
  --padding-12xs-1: 0.1px;
  --padding-10xs-8: 2.8px;
  --padding-base-4: 15.4px;
  --padding-2xs-6: 10.6px;
  --padding-6xl-8: 25.8px;
  --padding-6xl-9: 25.9px;
  --padding-7xl: 26px;
  --padding-8xl: 27px;
  --padding-11xs-6: 1.6px;
  --padding-12xl: 31px;
  --padding-11xs-3: 1.3px;
  --padding-29xl: 48px;
  --padding-78xl: 97px;
  --padding-124xl: 143px;
  --padding-52xl: 71px;
  --padding-41xl-9: 60.9px;
  --padding-56xl: 75px;
  --padding-18xl: 37px;
  --padding-15xl: 34px;
  --padding-6xs-1: 6.1px;
  --padding-5xs-2: 7.2px;
  --padding-base-3: 15.3px;
  --padding-5xs-3: 7.3px;
  --padding-19xl: 38px;
  --padding-20xl: 39px;
  --padding-3xs-5: 9.5px;
  --padding-48xl: 67px;
  --padding-14xl: 33px;
  --padding-10944xl: 10963px;
  --padding-1938xl: 1957px;
  --padding-808xl: 827px;
  --padding-1253xl: 1272px;
  --padding-74xl-1: 93.1px;
  --padding-60xl: 79px;
  --padding-base-9: 15.9px;
  --padding-5xl-6: 24.6px;
  --padding-83xl: 102px;
  --padding-179xl: 198px;
  --padding-178xl: 197px;
  --padding-161xl: 180px;
  --padding-182xl: 201px;
  --padding-67xl: 86px;
  --padding-297xl: 316px;
  --padding-12xs-5: 0.5px;
  --padding-296xl: 315px;
  --padding-59xl: 78px;
  --padding-138xl: 157px;
  --padding-139xl: 158px;
  --padding-base-5: 16.5px;
  --padding-base-6: 16.6px;

  /* Border radiuses */
  --br-81xl: 100px;
  --br-9xs: 4px;
  --br-5xs: 8px;
  --br-xs: 12px;
  --br-31xl: 50px;
  --br-base: 16px;
  --br-11xs: 2px;
  --br-10xs: 3px;
  --br-5xs-5: 7.5px;
  --br-mini: 15px;
  --br-9xl: 28px;
  --br-56xl: 75px;
}
